ul li a{
	color: white;
	text-decoration: none;
}
ul{
	text-align: center;
}
ul li{
	display: inline-block;
	line-height: 1.5;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}


body{
	background: linear-gradient(rgba(0,30,50,0.5),
		rgba(0,30,50,0.5));
 }
 header{
	text-align: center;
	font-family: league;
	font-size: 60px;

}
input{
	height: 15px;
    width: 350px;
    border: none;
}

form{
	text-align: center;
	width: 650px;
	margin: 0 auto;
	box-shadow: 4px 4px 4px 4px;
}
